@page "/fetchdata"
@using BlazorApp.Shared 
@inject HttpClient Http

<h1>Payslip forecast</h1>

<p>C# Blazor application display Payslip data returned by a serverless API</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Month</th>
                <th>Payslip Increase</th>
                <th>PayslipCount</th>
                @* <th>Feeling</th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    @* <td>@forecast.Date.ToShortDateString()</td> *@
                    <td>@forecast.Date</td>
                    <td>@forecast.PayslipIncrease</td>
                    <td>@forecast.PayslipCount</td>
                    @* <td>@forecast.Feeling</td> *@
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Forecast[] forecasts = new Forecast[]{};

    protected override async Task OnInitializedAsync()
    {
        try
        {
            forecasts = await Http.GetFromJsonAsync<Forecast[]>("/api/PayslipCount") ?? new Forecast[]{};
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex.ToString());
        }
    }
}
